{% extends 'base.html' %} {% load static %} 

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/biseccion.css' %}" />
{% endblock styles %}

{% block content %}


<div class="caja">
    <form action="">
        <div class="campo">
            <p>Funcion</p>
            <input type="text">
        </div>
        <div class="campo">
            <p>Funcion</p>
            <input type="text">
        </div>
        <div class="campo">
            <p>Funcion</p>
            <input type="text">
        </div>
    <div class="campo">
        <p>Funcion</p>
        <input type="text">
    </div>
    <div class="campo">
        <p>Funcion</p>
        <input type="text">
    </div>
    </form>
    
        <table>
            <tr>
              <th>Iteration</th>
              <th>a</th>
              <th>xm</th>
              <th>f(xm)</th>
              <th>E</th>
            </tr>
            <tr>
              <td>Prueba</td>
              <td>Prueba</td>
              <td>Prueba</td>
              <td>Prueba</td>
              <td>Prueba</td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
        </table>
</div>

{% endblock content%}