{% extends 'base.html' %} {% load static %} 

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/metodos.css' %}" />
{% endblock styles %}
{% block content %}
<div class="container">    
    <h2>Metodos</h2>
    <h5>Aca encontras 24 tipos de metodos</h5>
    <div class="titulo">
        <p>Solving systems by graphing</p>
    </div>
    <div class="opciones">
        <a href="">Opcion</a>
    </div>
    <div class="titulo">
        <p>titulo 2</p>
    </div>
    <div class="opciones">
        <a href="{% url 'biseccion'%}">Biseccion</a>
        <a href="{% url 'reglafalsa'%}">Regla Falsa</a>
        <a href="{% url 'newtonRaphson' %}">Newton-Raphson</a>
        <a href="{% url 'secante' %}">Metodo Secante</a>
        <a href="{% url 'raicesMultiples' %}">Raices Multiples</a>
        <a href="{% url 'raicesMultiples2' %}">Raices Multiples 2</a>
        <a href="{% url 'PuntoFijo' %}">Punto Fijo</a>
        <a href="#">Pruebas</a>
        <a href="{% url 'jacobiSeid' %}"> Jacobi Seid</a>
        <a href="{% url 'SOR' %}">SOR</a>
    </div>

    
</div>
{% endblock content %}
{% block scripts %}<script src="https://kit.fontawesome.com/2c5ccac35e.js" crossorigin="anonymous"></script>{% endblock  %}
