{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/biseccion.css' %}" />
{% endblock styles %} {% block content %}

<div class="caja">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="campo">
      <p>Funcion</p>
      <input type="text" name="Funcion" />
    </div>
    <div class="campo">
      <p>a</p>
      <input type="text" name="LimiteInferior" />
    </div>
    <div class="campo">
      <p>b</p>
      <input type="text" name="LimiteSuperior" />
    </div>
    <div class="campo">
      <p>Tolerancia</p>
      <input type="text" name="Tol" />
    </div>
    <div class="campo">
      <p>Iteraciones Max(100)</p>
      <input type="text" name="Iteraciones" />
    </div>
    <div class="campo">
      <p>Error</p>
      <select name="Error">
        <option value="1" selected="selected">Absoluto</option>
        <option value="2">Relativo</option>
      </select>
    </div>
    <button type="submit">Calcular</button>
  </form>

  <table>
    <tr>
      <th>Iteracion</th>
      <th>a</th>
      <th>xm</th>
      <th>b</th>
      <th>f(xm)</th>
      <th>E</th>
    </tr>
    {% if resultado %} {% for iter in resultado %}
    <tr>
      {% for dato in iter %}
      <td>{{dato}}</td>
      {% endfor %}
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    {% endif %}
  </table>
</div>
<p>{{mensaje}}</p>
{% if funcion %}
  <a href="http://127.0.0.1:8000/graficaSolucion/{{funcion}}/{{solucion}}">Graficar Solucion</a>
{% endif %}  
{% endblock content%}
