h2, h5 {
    margin-bottom: 20px; /* Reducido el margen inferior */
}

.container {
    margin: 20px; /* Reducido el margen alrededor del contenedor */
}

.titulo p {
    font-weight: bold;
    font-size: 1.2em;
    color: #333; /* Cambiado el color del texto a gris oscuro */
    margin-bottom: 20px; /* Reducido el margen inferior */
}

.opciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cambiado el número de columnas y espaciado uniforme */
    gap: 20px; /* Agregado espacio entre las opciones */
    margin-bottom: 20px; /* Reducido el margen inferior */
}

.opciones a {
    width: 100%;
    padding: 16px 24px;
    border: none; /* Eliminado el borde */
    border-radius: 10px; /* Agregado un radio de borde redondeado */
    text-decoration: none;
    color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Agregada una transición para el efecto de escala */
    transform: scale(1); /* Agregada una transformación de escala inicial */
}

.opciones a:hover {
    background-color: #3498db;
    color: #fff;
    transform: scale(1.05); /* Escalar ligeramente al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregada una sombra al pasar el mouse */
}







/* Estilo adicional para el contenido de los cuadros */
.opciones a h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.opciones a p {
    font-size: 1em;
}