@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.mi-navbar {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(244, 93, 72);
    border-bottom: 2px solid rgb(51,49,50);
}

.mi-img {
    padding: 16px 26px 12px;
}

.mi-img img {
    width: 65px;
}

.mi-navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 30px;
    float: right;
    font-weight: 700;
}

.mi-navbar ul > li {
    display: inline-block;
    margin-left: 25px;
}

.mi-navbar li a {
    display: block;
    text-decoration: none;
    color: white;
}